@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --branco: #fff;
  --preto: #000;
  --rosa1: #fc0a7e;
  --rosa2: #dd1173;
  --roxo1: #350e47;
  --roxo2: #602bb6;
  --cinza1: #1b1b1b;
  --cinza2: #333333;
  --cinza3: #ffffff33;
  --cinza4: #6b6b6b;
  --cinza5: #a8a8a8;
}