@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --branco: #fff;
  --preto: #000;
}